body{
    background-color: blanchedalmond;
background-image: url(https://media.istockphoto.com/id/1524210326/photo/hand-of-young-business-using-smartphone.webp?a=1&b=1&s=612x612&w=0&k=20&c=ZhIA50NeHErpvEj1-F4hgUJ4JtwIWsBcRGg0CGPQs7k=);
    
color: azure;


}



    
